* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    background-color: #132999;
}

main {
    padding-top: 5em;
    background-image: url('./projecten.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color;
    width: 95vw;
    height: 500vh;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
h1 {
    overflow: visible;
    white-space: nowrap;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}
#header {
    padding-bottom: 5rem;
    font-weight: bold;
    font-size: 90px;
    color: white;
}
section {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5ch;
}
section div {
    position: relative;
    text-align: center;
    color: white;
}
section h1 {
    font-weight: bold;
    font-size: 90px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
section img {
    border-radius: 15px;
}